[general]
name = "minilib-thread"
version = "0.6.1"
fix_version = "1.2.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/thread/channel.fix",
    "lib/thread/future.fix",
    "lib/thread/task_pool.fix",
]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/thread/channel_test.fix",
    "tests/thread/task_pool_test.fix",
]

[[dependencies]]
name = "minilib-common"
version = "0.11.3"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-io"
version = "0.7.1"
# path = "../fixlang-minilib-io"
git = { url = "https://github.com/pt9999/fixlang-minilib-io.git" }

# for deque
[[dependencies]]
name = "minilib-collection"
version = "0.6.6"
# path = "../fixlang-minilib-collection"
git = { url = "https://github.com/pt9999/fixlang-minilib-collection.git" }

[[dependencies]]
name = "asynctask"
version = "1.1.5"
git = { url = "https://github.com/tttmmmyyyy/fixlang-asynctask.git" }
