[general]
name = "minilib-thread"
version = "0.7.0-alpha1"
fix_version = "1.3.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/thread/channel.fix",
    "lib/thread/future.fix",
    "lib/thread/task_pool.fix",
]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/thread/channel_test.fix",
    "tests/thread/task_pool_test.fix",
]

[[dependencies]]
name = "asynctask"
version = "1.1.5"
git = { url = "https://github.com/tttmmmyyyy/fixlang-asynctask.git" }

[[dependencies]]
name = "ring-buffer"
version = "0.1.1"
git = { url = "https://github.com/tttmmmyyyy/ring-buffer.git" }

[[dependencies]]
name = "minilib-common"
version = "0.12.0"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-io"
version = "0.8.0"
# path = "../fixlang-minilib-io"
git = { url = "https://github.com/pt9999/fixlang-minilib-io.git" }

